In [1]:
import pandas as pd

In [2]:
students_dict = {
    "name": ["Miguel", "Juan David", "Carmen", "Facundo", "Romina"],
    "age": [29, 19, 24, 22, 25],
    "career path":  ["Data Analyst", "Data Scientist", "Data Analyst", "Data Engineer", "ML Engineer" ],
}

students_df = pd.DataFrame(students_dict)
students_df

         name  age     career path
0      Miguel   29    Data Analyst
1  Juan David   19  Data Scientist
2      Carmen   24    Data Analyst
3     Facundo   22   Data Engineer
4      Romina   25     ML Engineer

In [5]:
students_list = [
    {"name": "Miguel", "age": 29, "career path": "Data Analyst"},
    {"name": "Juan David", "age": 19, "career path": "Data Scientist"},
    {"name": "Carmen", "age": 24, "career path": "Data Analyst"},
]

students_df_2 = pd.DataFrame(students_list)
students_df_2

         name  age     career path
0      Miguel   29    Data Analyst
1  Juan David   19  Data Scientist
2      Carmen   24    Data Analyst

In [7]:
students_df.dtypes

name           object
age             int64
career path    object
dtype: object

In [8]:
students_df_2.dtypes

name           object
age             int64
career path    object
dtype: object